name: 馃悤D

on:
  workflow_dispatch:
  schedule:
    - cron: '6 * * * *'
  watch:
  repository_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
            node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: 'run ttx'
        run: |
           node xlcsecret.js
        env:
            JD_COOKIE: ${{ secrets.JD_COOKIE }}
            SYNCURL: jd_joy.js
            XLC: ${{ secrets.XLC }}
            GITHUB: ${{ secrets.GITHUB }}
            EFORK: ${{ secrets.EFORK }}   
